{% extends "@partials/base.twig" %}

{% block content %}
    {{ include('@partials/header.twig') }}
    <h1>UKMONDO</h1>
    <h3>UK Mondo is an online radio station based in Sheffield. Broadcasting since October 31st 2015. Providing a platform for Sheffield, giving artists the chance to play the music they love. Live 6 days a week.</h3>
{% endblock %}
