<header class="header">
    <div class="header__container">
        <img src="" alt="ukmondo logo" class="header__logo">
        <nav class="header__nav">
            <a href="/" class="header__nav-link {% if is_current_path('/') %}header__nav-link--active{% endif %}">HOME</a>
            <a href="/schedule" class="header__nav-link {% if is_current_path('/schedule') %}header__nav-link--active{% endif %}">SCHEDULE</a>
            <a href="/podcasts" class="header__nav-link {% if is_current_path('/podcasts') %}header__nav-link--active{% endif %}">PODCASTS</a>
            <a href="/contact" class="header__nav-link {% if is_current_path('/contact') %}header__nav-link--active{% endif %}">CONTACT</a>
        </nav>
    </div>
</header>